@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;700&display=swap");
body {
  background: #8e9eab;
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 30px;
}
h3 {
  color: #333;
  font-size: 18px;
}
/* Eliminar los spinners en navegadores WebKit (Chrome y Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar los spinners en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="text"],
input[type="number"] {
  font-size: 15px;
  width: 90%; /* Ancho completo */
  height: 40px; /* Altura más pequeña para todos los campos */
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #27374d;
  background: transparent;
  margin: 15px 0; /* 10px arriba y abajo */
}

textarea,
select {
  background: transparent;
  font-size: 15px;
  width: 95%; /* Ancho completo */
  height: 50px; /* Altura más pequeña para todos los campos */
  padding: 10px; /* Espaciado interno más grande */
  border: 2px solid #27374d;
  border-radius: 10px; /* Esquinas redondeadas */
  box-sizing: border-box; /* Para incluir padding y border en el ancho */
  font-size: 15px; /* Tamaño de fuente para los campos */
}
.button-container {
  display: flex; /* o grid */
}
button {
  border: 2px solid #27374d;
  color: black;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  justify-content: center;
  padding: 1em;
  background-color: transparent;
  border-radius: 10px; /* Esquinas redondeadas */
  transition: all 0.25s ease-in;
  margin: 20px auto;
  &:hover {
    background-color: #eef2f3;
  }
}
