.form-container {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.7);
  max-width: 800px;
  margin: 20px auto;
}

form-group {
  margin: auto;
}
